<?xml version="1.0" ?>
<sdf version="1.6">
  <world name="buoyant_auv">
    <scene>
      <ambient>0.0 0.3 0.6</ambient>
      <background>0.0 0.4 0.8</background>
    </scene>

    <physics name="1ms" type="ode">
      <max_step_size>0.001</max_step_size>
      <real_time_factor>1.0</real_time_factor>
    </physics>
    <plugin filename="gz-sim-physics-system" name="gz::sim::systems::Physics">
    </plugin>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
    </plugin>
    <plugin filename="gz-sim-user-commands-system" name="gz::sim::systems::UserCommands">
    </plugin>
    <plugin filename="gz-sim-scene-broadcaster-system" name="gz::sim::systems::SceneBroadcaster">
    </plugin>
    <plugin filename="gz-sim-buoyancy-system" name="gz::sim::systems::Buoyancy">
      <uniform_fluid_density>1000</uniform_fluid_density>
    </plugin>

    <gui fullscreen="0">
      <!-- 3D scene -->
      <plugin filename="GzScene3D" name="3D View">
        <gz-gui>
          <title>3D View</title>
          <property type="bool" key="showTitleBar">false</property>
          <property type="string" key="state">docked</property>
        </gz-gui>

        <engine>ogre2</engine>
        <scene>scene</scene>
        <ambient_light>0.4 0.4 0.4</ambient_light>
        <background_color>0.8 0.8 0.8</background_color>
        <camera_pose>-6 0 6 0 0.5 0</camera_pose>
      </plugin>

      <!-- World control -->
      <plugin filename="WorldControl" name="World control">
        <gz-gui>
          <title>World control</title>
          <property type="bool" key="showTitleBar">false</property>
          <property type="bool" key="resizable">false</property>
          <property type="double" key="height">72</property>
          <property type="double" key="width">290</property>
          <property type="double" key="z">1</property>

          <property type="string" key="state">floating</property>
          <anchors target="3D View">
            <line own="left" target="left"/>
            <line own="bottom" target="bottom"/>
          </anchors>
        </gz-gui>

        <play_pause>true</play_pause>
        <step>true</step>
        <start_paused>true</start_paused>
        <service>/world/world_demo/control</service>
        <stats_topic>/world/world_demo/stats</stats_topic>
      </plugin>

      <!-- World statistics -->
      <plugin filename="WorldStats" name="World stats">
        <gz-gui>
          <title>World stats</title>
          <property type="bool" key="showTitleBar">false</property>
          <property type="bool" key="resizable">false</property>
          <property type="double" key="height">110</property>
          <property type="double" key="width">290</property>
          <property type="double" key="z">1</property>

          <property type="string" key="state">floating</property>
          <anchors target="3D View">
            <line own="right" target="right"/>
            <line own="bottom" target="bottom"/>
          </anchors>
        </gz-gui>

        <sim_time>true</sim_time>
        <real_time>true</real_time>
        <real_time_factor>true</real_time_factor>
        <iterations>true</iterations>
      </plugin>

      <!-- Entity tree -->
      <plugin filename="EntityTree" name="Entity tree">
        <gz-gui>
          <property type="string" key="state">docked</property>
        </gz-gui>
      </plugin>

      <!-- Path Visualizer Plugin -->
      <!-- <plugin filename="PathVisualizer" name="Path Visualizer">
        <gz-gui>
          <title>Path Visualizer</title>
          <property key="state" type="string">docked</property>
        </gz-gui>
      </plugin> -->
    </gui>

    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
    </plugin>
    <plugin filename="gz-sim-dvl-system" name="gz::sim::systems::DopplerVelocityLogSystem">
    </plugin>

    <plugin filename="libignition-gazebo-altimeter-system.so" name="ignition::gazebo::systems::Altimeter">
    </plugin>

    <light type="directional" name="sun">
      <cast_shadows>true</cast_shadows>
      <pose>0 0 10 0 0 0</pose>
      <diffuse>1 1 1 1</diffuse>
      <specular>0.5 0.5 0.5 1</specular>
      <attenuation>
        <range>1000</range>
        <constant>0.9</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <direction>-0.5 0.1 -0.9</direction>
    </light>

    <include>
      <pose>0 0 0 0 0 0</pose>
      <uri>model://auv</uri>

      <plugin filename="ignition-gazebo-thruster-system" name="ignition::gazebo::systems::Thruster">
        <namespace>auv</namespace>
        <joint_name>thruster_0</joint_name>
        <thrust_coefficient>0.33</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.0762</propeller_diameter>
      </plugin>

      <plugin filename="ignition-gazebo-thruster-system" name="ignition::gazebo::systems::Thruster">
        <namespace>auv</namespace>
        <joint_name>thruster_1</joint_name>
        <thrust_coefficient>0.33</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.0762</propeller_diameter>
      </plugin>

      <plugin filename="ignition-gazebo-thruster-system" name="ignition::gazebo::systems::Thruster">
        <namespace>auv</namespace>
        <joint_name>thruster_2</joint_name>
        <thrust_coefficient>0.33</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.0762</propeller_diameter>
      </plugin>

      <plugin filename="ignition-gazebo-thruster-system" name="ignition::gazebo::systems::Thruster">
        <namespace>auv</namespace>
        <joint_name>thruster_3</joint_name>
        <thrust_coefficient>0.33</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.0762</propeller_diameter>
      </plugin>

      <plugin filename="ignition-gazebo-thruster-system" name="ignition::gazebo::systems::Thruster">
        <namespace>auv</namespace>
        <joint_name>thruster_4</joint_name>
        <thrust_coefficient>0.33</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.0762</propeller_diameter>
      </plugin>

      <plugin filename="ignition-gazebo-thruster-system" name="ignition::gazebo::systems::Thruster">
        <namespace>auv</namespace>
        <joint_name>thruster_5</joint_name>
        <thrust_coefficient>0.33</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.0762</propeller_diameter>
      </plugin>

      <plugin filename="ignition-gazebo-thruster-system" name="ignition::gazebo::systems::Thruster">
        <namespace>auv</namespace>
        <joint_name>thruster_6</joint_name>
        <thrust_coefficient>0.33</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.0762</propeller_diameter>
      </plugin>

      <plugin filename="ignition-gazebo-thruster-system" name="ignition::gazebo::systems::Thruster">
        <namespace>auv</namespace>
        <joint_name>thruster_7</joint_name>
        <thrust_coefficient>0.33</thrust_coefficient>
        <fluid_density>1000</fluid_density>
        <propeller_diameter>0.0762</propeller_diameter>
      </plugin>

      <!-- Hydrodynamics plugin-->
      <!-- Values from https://chatgpt.com/share/6811b130-d150-8002-b355-65a1e5cf9dce -->
      <plugin filename="gz-sim-hydrodynamics-system" name="gz::sim::systems::Hydrodynamics">
        <link_name>base_link</link_name>

        <xDotU>-2.4</xDotU>        <!-- 0.1 Δ,  Δ = ρ·V = 24.2 kg -->
        <yDotV>-24.2</yDotV>        <!-- 1 Δ  -->
        <zDotW>-24.2</zDotW>
        <kDotP>-0.22</kDotP>        <!-- roll  : −ρ·V·(b²+c²)/12 × CA ≈ CA=1 -->
        <mDotQ>-0.52</mDotQ>        <!-- pitch : −ρ·V·(a²+c²)/12 × CA -->
        <nDotR>-0.49</nDotR>        <!-- yaw   : −ρ·V·(a²+b²)/12 × CA -->

        <xU>-0.17</xU>        <!-- surge -->
        <yV>-0.33</yV>        <!-- sway  -->
        <zW>-0.29</zW>        <!-- heave -->
        <kP>-0.02</kP>        <!-- roll  (small) -->
        <mQ>-0.05</mQ>        <!-- pitch -->
        <nR>-0.05</nR>        <!-- yaw   -->

        <xUabsU>-30.3</xUabsU>        <!-- A = 0.22×0.25 m² -->
        <yVabsV>-60.5</yVabsV>        <!-- A = 0.44×0.25 m² -->
        <zWabsW>-53.2</zWabsW>        <!-- A = 0.44×0.22 m² -->
        <!-- rotational |ω|ω moments: ½ρCdA_m|ω|ω ,  A_m = l h⁴/32 etc. :contentReference[oaicite:1]{index=1} -->
        <kPabsP>-0.03</kPabsP>        <!-- roll -->
        <mQabsQ>-0.16</mQabsQ>        <!-- pitch -->
        <nRabsR>-0.02</nRabsR>        <!-- yaw  -->
      </plugin>

    </include>

  </world>
</sdf>